{{ ansible_managed | comment }}

# Minio local/remote volumes.
{% if minio_server_cluster_nodes | length > 0 %}
MINIO_VOLUMES="{{ minio_server_cluster_nodes | join(' ') }}"
{% else %}
MINIO_VOLUMES="{{ minio_server_datadirs | join(' ') }}"
{% endif %}
# Minio cli options.
MINIO_OPTS="--address {{ minio_server_addr }} {{ minio_server_opts }}"

{% if minio_root_user is defined and minio_root_user | length > 0 %}
# Access Key of the server.
 MINIO_ROOT_USER="{{ minio_root_user }}"
{% endif %}
{% if minio_root_password is defined and minio_root_password | length > 0 %}
# Secret key of the server.
 MINIO_ROOT_PASSWORD="{{ minio_root_password }}"
{% endif %}

{% if minio_storage_class_standard is defined and minio_storage_class_standard | length > 0 %}
# storage class parity settings
MINIO_STORAGE_CLASS_STANDARD="{{ minio_storage_class_standard }}"
{% endif %}
{% if minio_storage_class_rrs is defined and minio_storage_class_rrs | length > 0 %}
MINIO_STORAGE_CLASS_RRS="{{ minio_storage_class_rrs }}"
{% endif %}

{{ minio_server_env_extra }}
